[include mainsail.cfg]

[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
microsteps: 16
rotation_distance: 40
endstop_pin: ^!ar3
position_endstop: 0
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
microsteps: 16
rotation_distance: 40
endstop_pin: ^!ar14
position_endstop: 0
position_max: 230
homing_speed: 50
homing_positive_dir: false

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop			   
position_min: -3
position_max: 250
homing_speed: 20
homing_retract_dist: 10
second_homing_speed: 5

[stepper_z1]
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
microsteps: 16
rotation_distance: 7
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
min_extrude_temp: 190
min_temp: 5
max_temp: 250
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
#basicfil green 0.075, clas red PLA 0.125
pressure_advance: 0.075

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 5
max_temp: 110

[fan]
pin: ar9
kick_start_time: 0.500

[heater_fan my_nozzle_fan]
pin:ar7
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]
#make sure this reflects your serial port you found when flashing klipper
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 200
#max_accel_to_decel: 7000
#max_accel: 7000
max_accel: 5000
max_z_velocity: 50
max_z_accel: 100
square_corner_velocity: 5 

[bed_screws]
screw1: 45,45
screw1_name: front left
screw2: 185,45
screw2_name: front right
screw3: 185,185
screw3_name: back right
screw4: 45,185
screw4_name: back left
screw5: 115, 115
screw5_name: middle
speed: 100.0

[bltouch]
sensor_pin: ar19 
control_pin: ar11 
x_offset:28
y_offset:-33
speed:10
samples:1
# median/average
samples_result:average
probe_with_touch_mode:false
stow_on_each_sample:false
#set_output_mode:OD
#pin_up_reports_not_triggered:false
#pin_up_touch_mode_reports_triggered:false

[safe_z_home]
home_xy_position: 82,143
speed: 80
z_hop: 20
z_hop_speed: 30

[bed_mesh]
speed: 800
mesh_min: 30,30
mesh_max: 190,190
probe_count: 4,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 3.0
split_delta_z: .010
fade_start: 1.0 
fade_end: 5.0

[screws_tilt_adjust]
screw1: 17,78
screw1_name: front left
screw2: 157,78
screw2_name: front right
screw3: 17,218
screw3_name: back left
screw4: 157,218
screw4_name: back right
speed: 100.0
screw_thread: CW-M5			

#uncomment the following lines to use Z_TILT_ADJUST and uncomment G34 Macro to use G34
#[z_tilt]
#z_positions: 
#     10,155
#     270,155
#
#points: 
#    10,155
#    270,155
#speed: 100
#horizontal_move_z: 10

### ---------   Added stuff   ----------- ###

[input_shaper]
# https://www.klipper3d.org/Resonance_Compensation.html
# f = speed * osc_count / osc_tot_distance
# frequency for the X mark of the test model, 46 vihr, 44 clas pun
shaper_freq_x: 46
# frequency for the Y mark of the test model, 46 vihr, 48 clas pun
shaper_freq_y: 46
# "mzv" or "ei"
shaper_type: mzv

# https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#gcode_arcs
[gcode_arcs]
#resolution: 1.0

### ---------   Macros        ----------- ###

[gcode_macro G29]
gcode:
 BED_MESH_CLEAR
 G28
 BED_MESH_CALIBRATE
 BED_MESH_PROFILE SAVE=x1
 G1 Z20 F2000
 
#[gcode_macro G34]
#gcode:
#     G28
#     Z_TILT_ADJUST		

[gcode_macro G35]
gcode:
     G28
     SCREWS_TILT_CALCULATE
 
[gcode_macro BLT]
gcode:
     BLTOUCH_DEBUG COMMAND=pin_down
		BLTOUCH_DEBUG COMMAND=reset 

# https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#delayed_gcode
[delayed_gcode delayed_BLT]
gcode:
     BLTOUCH_DEBUG COMMAND=pin_down
		BLTOUCH_DEBUG COMMAND=reset
initial_duration: 8

[gcode_macro START_PRINT]
# Reference https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#gcode_macro
# On how to override default parameters
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 200
default_parameter_ANTI_OOZE_TEMP: 170

gcode:
  # Home the printer
  #Set both target temperatures to warm up at same time
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={ANTI_OOZE_TEMP|int}
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP|int}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP|int}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP|int}
  G28
  BED_MESH_PROFILE LOAD=x1
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP|int}
  SET_GCODE_OFFSET Z=-.08
  ## Use absolute coordinates
  G90
  # Move the nozzle near the bed
  G1 X0 Y0 Z5 F3000
  # Move the nozzle very close to the bed
  G1 Z0.3 F300
  G92 E0 ;Reset Extruder
  G1 X20 Y4 Z0.3 F5000.0			   
  G1 Z0.3 F1000 				    
  G1 X120 Y4 F1500.0 E15 			   
  G1 X120 Y4.3 Z0.3 F5000.0			    
  G1 X5.3 Y4.3 Z0.3 F1500.0 E30 			
  G1 Z3 F3000 				     
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
  G92 E0
  
[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 Z2 E-3 F300
    # Raise nozzle by 30mm
    G1 Z30 F3000
    G1 X50 Y50
    G1 X30 Y30
    G90
    # Disable steppers
    M84

[pause_resume]
recover_velocity: 50.

#[filament_switch_sensor my_sensor]
#Move filament runout sensor from TFT to X+ endstop pin. Umcomment all but this line if you want to use this
#pause_on_runout: False
#runout_gcode: PAUSE
#insert_gcode: RESUME
#switch_pin: ar2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.548
#*# pid_ki = 1.367
#*# pid_kd = 93.009
#*#
#*# [bltouch]
#*# z_offset = 0.960
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.528
#*# pid_ki = 0.456
#*# pid_kd = 1135.356
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.045000, 0.045000, 0.005000, 0.047500
#*# 	  0.170000, 0.075000, 0.070000, 0.035000
#*# 	  0.067500, 0.032500, 0.012500, 0.032500
#*# 	  0.055000, 0.035000, 0.067500, 0.085000
#*# 	  0.090000, 0.097500, 0.110000, 0.105000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 4
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 189.99
#*#
#*# [bed_mesh x1]
#*# version = 1
#*# points =
#*# 	  0.045000, 0.045000, 0.005000, 0.047500
#*# 	  0.170000, 0.075000, 0.070000, 0.035000
#*# 	  0.067500, 0.032500, 0.012500, 0.032500
#*# 	  0.055000, 0.035000, 0.067500, 0.085000
#*# 	  0.090000, 0.097500, 0.110000, 0.105000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 4
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 189.99
#*#
#*# [bed_mesh X2]
#*# version = 1
#*# points =
#*# 	0.130000, 0.167500, 0.132500, 0.146250, 0.152500
#*# 	0.145000, 0.146250, 0.128750, 0.122500, 0.186250
#*# 	0.126250, 0.118750, 0.095000, 0.091250, 0.097500
#*# 	0.068750, 0.065000, 0.105000, 0.125000, 0.171250
#*# 	0.108750, 0.130000, 0.112500, 0.118750, 0.121250
#*# tension = 0.2
#*# mesh_x_pps = 2
#*# algo = bicubic
#*# min_x = 30.0
#*# min_y = 30.0
#*# y_count = 5
#*# mesh_y_pps = 2
#*# x_count = 5
#*# max_x = 190.0
#*# max_y = 190.0

